<div class="header_content_taikhoan">
    <p class="mark-readed">Đánh dấu tất cả là đã đọc</p>
</div>
<div class="content_my_address">

    <div class="row notify-order" *ngFor="let item of data">
        <div class="col-2">
            <img loading="lazy" src="{{pathImg+item?.path}}">
        </div>
        <div class="col-8">
            <p class="title">{{item.title}}</p>
            <p>
                {{item.body}}
            </p>
            <p>{{item.dateAdded|date}}</p>
        </div>
        <div class="col-2 evaluate-product">
            <button class="bt-evaluate-product">Xem chi tiết</button>
        </div>
    </div>
    <!-- <div class="row notify-order">
        <div class="col-2">
            <img loading="lazy" src="./assets/images/imgs/image95.png">
        </div>
        <div class="col-8">
            <p class="title">Voucher cho đơn từ 0đ</p>
            <p>
                💥 Tặng bạn Voucher 10K 🌈 Đã có sẵn trong kho voucher của bạn ⏰ Hiệu lực: 21H 27/10/2021 - 23H59
                31/10/2021 👉 Số lượng có hạn - Dùng ngay bạn nhé!
            </p>
            <p>07:43 24-07-2021</p>
        </div>
        <div class="col-2 evaluate-product">
            <button class="bt-evaluate-product">Xem chi tiết</button>
        </div>

    </div>
    <div class="row notify-order">
        <div class="col-2">
            <img loading="lazy" src="./assets/images/imgs/image93.png">
        </div>
        <div class="col-8">
            <p class="title">Mua ngay kẻo lỡ!</p>
            <p>
                Áo thun tay lỡ The Bad Go… đang cháy hàng rất nhanh. Lẹ tay chốt đơn!
            </p>
            <p>07:43 24-07-2021</p>
        </div>
        <div class="col-2 evaluate-product">
            <button class="bt-evaluate-product">Xem chi tiết</button>
        </div>

    </div>
    <div class="row notify-order">
        <div class="col-2">
            <img loading="lazy" src="./assets/images/imgs/image93.png">
        </div>
        <div class="col-8">
            <p class="title">ShopeePay tặng bạn 1 voucher mua hàng Shopee</p>
            <p>
                🎁ShopeePay tặng bạn Voucher mua hàng Shopee 🎈Hạn sử dụng: 30/11/2021 23H59 👉Liên kết ví ShopeePay với
                ứng dụng Shopee để xài ngay!

            </p>
            <p>07:43 24-07-2021</p>
        </div>
        <div class="col-2 evaluate-product">
            <button class="bt-evaluate-product">Xem chi tiết</button>
        </div>

    </div> -->
</div>
