.cancel-button {
  background: #80837f;
}
button {
  border-radius: 0.1rem;
}
.icon-address {
  height: 1.5rem;
  position: absolute;
  left: 170px;
}
.ng-input{
  height: 41px;
    border: 2px solid #e2e2e2;
    border-radius: 6px;
}
.from_city{

  height: 41px;
  border: 1px solid #e2e2e2 !important;
  border-radius: 6px !important;
  width: 60%;
padding-right: 10px;
}

.from_city::after{

  color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.from_city .ng-dropdown-panel
{margin-top: 19px !important;
}
.ng-select-bottom{
  margin-top: 5PX;
}

  .ng-select-container:after
  {

    border: none !important;
  }
  .ng-select .ng-select-container:after
  {
    border: none !important;
  }
  .ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
bottom: 19px !important

  }
.span_tinh{
  bottom: 19px !important
}
.span.ng-arrow-wrapper {
  bottom: 19px !important
}
.from_city.ng-dropdown-panel#a57f11600413 {
  margin-top:32px !important;
}
:host::ng-dropdown-panel#a9682c780ed9
{
 margin-top: 19px;
}
:host-context(.ng-select-bottom)  {
  margin-top: 30px !important;
}