<section class="bread_crumb_page">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">SmartGap </a></li>
        <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">
          Chính sách giải quyết khiếu nại
        </li>
      </ol>
    </nav>
  </div>
</section>
<!-- end -->
<section class="main_page_product sec_product">
  <div class="container">
    <div class="wrapper_main_page_product">
      <div class="pageNewsPost">
        <div class="heading">
          <h3 class="nametitle">Giải quyết tranh chấp khiếu nại</h3>
          <div class="socialshare"></div>
        </div>
        <div class="postentry">
          <div>
            <p style="text-align: justify">&nbsp;</p>
            <p class="text-p">
              <span style="font-size: 18px"
                >Smartgap luôn có trách nhiệm tiếp nhận và xử lý khiếu nại của
                Khách hàng liên quan đến giao dịch tại sàn thương mại điện tử
                www.Smartgap.vn . Khi phát sinh các khiếu nại, tranh chấp,
                Smartgap đề cao giải pháp thương lượng, hòa giải giữa các bên
                nhằm duy trì mối quan hệ, sự tin cậy của Khách hàng vào chất
                lượng dịch vụ của Smartgap.vn.</span
              >
            </p>
            <p style="text-align: justify">&nbsp;</p>
            <p class="text-p">
              <span style="font-size: 18px"
                >Quy trình khiếu nại thực hiện theo các bước sau:</span
              >
            </p>
            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                ><span class="text-span"> Bước 1: </span> Khách hàng khiếu nại về hàng hóa, dịch vụ của Nhà Bán
                Hàng mua trên sàn thương mại điện tử Smartgap.vn thực hiện
                qua:</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Gửi thư điện tử đến địa chỉ email: cskh@Smartgap.vn.</span
              >
            </p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Gọi điện đến Hotline 024 3901 3333 - Tổng đài: 1900
                077779</span
              >
            </p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Người mua gửi khiếu nại tại địa chỉ:</span
              >
            </p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Công ty TNHH SmartGap Việt Nam</span
              >
            </p>

            <p class="text-p">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px" 
                >Địa chỉ: Tòa C2-D'Capitale: Số 15 -Tầng 37, đường Trần Duy
                Hưng, phường Trung Hòa, quận Cầu Giấy, TP.Hà Nội</span
              >
            </p>

            <p class="text-p">&nbsp;</p>

            <p style="text-align: justify">
              <span style="font-size: 18px"
                > <span class="text-span"> Bước 2 </span> Bộ phận Smartgap Care sẽ tiếp nhận các khiếu nại, liên
                hệ làm rõ các yêu cầu của Khách hàng trong thời gian sớm nhất có
                thể và không quá 5 ngày làm việc, kể từ ngày nhận được yêu cầu.
                Tùy theo tính chất và mức độ của sự việc, Smartgap sẽ có những
                biện pháp cụ thể để hỗ trợ khách hàng giải quyết khiếu nại,
                tranh chấp.</span
              >
            </p>

            <p class="text-p">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                ><span class="text-span"> Bước 3</span> Smartgap có thể yêu cầu Khách hàng và/hoặc Nhà Bán Hàng
                cung cấp các thông tin, bằng chứng liên quan đến giao dịch, sản
                phẩm để xác minh, làm rõ vụ việc và có hướng xử lý thích
                hợp.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                ><span class="text-span"> Bước 4</span> Trong trường hợp Smartgap đã nỗ lực giải quyết khiếu
                nại, tranh chấp nhưng sự việc vượt quá khả năng và thẩm quyền
                của Smartgap, Smartgap sẽ yêu cầu Khách hàng đưa vụ việc ra cơ
                quan Nhà nước có thẩm quyền giải quyết theo quy định của pháp
                luật.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Smartgap tôn trọng và nghiêm túc thực hiện các quy định của
                pháp luật về bảo vệ quyền lợi của Khách hàng (người tiêu dùng).
                Vì vậy, đề nghị các Nhà Bán Hàng trên sàn TMĐT Smartgap.vn cung
                cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên
                quan đến sản phẩm. Mọi hành vi lừa đảo, gian lận trong kinh
                doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước
                pháp luật.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Các bên bao gồm Nhà Bán Hàng – người bán, Khách hàng – người
                mua có vai trò quan trọng và có trách nhiệm trong việc tích cực
                giải quyết sự việc. Nhà Bán Hàng cần có trách nhiệm cung cấp văn
                bản, tài liệu, giấy tờ, và các chứng cứ khác để chứng minh, làm
                rõ thông tin liên quan đến sự việc đang gây mâu thuẫn cho Khách
                hàng. Khi được yêu cầu, Smartgap sẽ cung cấp những thông tin
                liên quan đến Người mua và Người bán nếu được Người mua hoặc
                Người bán đó (liên quan đến tranh chấp) đồng ý hoặc trong phạm
                vi được luật pháp cho phép.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Trong trường hợp giao dịch phát sinh khiếu nại, tranh chấp mà
                được xác định lỗi thuộc về Người bán, Smartgap sẽ có biện pháp
                cảnh cáo, khóa tài khoản hoặc chuyển cho cơ quan Nhà nước có
                thẩm quyền xử lý tùy theo mức độ của sai phạm. Smartgap sẽ chấm
                dứt và gỡ bỏ toàn bộ tin bài về sản phẩm của Người bán đó trên
                Smartgap.vn đồng thời yêu cầu Người bán bồi thường cho Khách
                hàng thỏa đáng trên cơ sở thỏa thuận với Khách hàng.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p class="text-p">
              <span style="font-size: 18px"
                >Trường hợp Smartgap và các bên đã nỗ lực giải quyết qua hình
                thức thương lượng, thỏa thuận mà vẫn không thể giải quyết được
                mâu thuẫn phát sinh từ giao dịch giữa Khách hàng và Nhà bán
                hàng, thì một trong hai bên Khách hàng và Nhà bán hàng sẽ có thể
                đưa vụ việc đến cơ quan Nhà nước có thẩm quyền giải quyết nhằm
                đảm bảo lợi ích hợp pháp của các bên.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>
            <p class="text-p">
              <span style="font-size: 18px"
                >Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc
                liên quan đến giao dịch tại Website hoặc các Quy định và Điều
                kiện này đều sẽ được giải quyết bằng hình thức thương lượng, hòa
                giải, trọng tài và/hoặc Tòa án theo Luật Bảo vệ quyền lợi người
                tiêu dùng năm 2010, tại Chương 4 về Giải quyết tranh chấp giữa
                người tiêu dùng và tổ chức, cá nhân kinh doanh hàng hóa, dịch
                vụ.</span
              >
            </p>

            <p style="text-align: justify">&nbsp;</p>

            <p >
              <span style="font-size: 18px" class="text-span-date"
                >Ngày hiệu lực chính sách 01/01/2020.</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

