<slide-top></slide-top>

<app-flash-sale></app-flash-sale>
<!-- end -->
<app-link-catalogs></app-link-catalogs>
<!-- end -->
<app-category-product-home></app-category-product-home>
<!-- end -->
<div class="displaybanner">
    <app-smart-mall></app-smart-mall>
</div>
<!-- end -->
<app-product-area></app-product-area>
<!-- end -->
<!-- end -->
<div class="displaybanner">
    <app-banner-center-home></app-banner-center-home>
</div>
<app-product-top-search></app-product-top-search>
<!-- end -->
<app-banner-center-x2></app-banner-center-x2>
<!-- end -->
<app-sugget-today></app-sugget-today>
<!-- end -->