label.error{
    color:red;
}
.badge-count-down{
    width:40px;
    height:40px;
    border-radius:20px !important;
    padding-top:14px;
}

.famfamfam-flags.us {
    width: 16px;
    height: 11px;
    background-position: -160px -188px;
}
.famfamfam-flags.vn {
    width: 16px;
    height: 11px;
    background-position: -208px -55px;
}