<section class="smart_small">
  <div style="background-color: #e5e5e5;">
    <div class="container" style="background-color: #f6fff1;border-radius: 5px;">
      <div class="row" style="padding: 10px 0 16px 0; margin-bottom: 15px;">
          <div class="col-lg-12 col-md-12 col-12">
              <div class="right_smart_small">
                  <div class="top_right_smart_small flex justify-content-between">
                      <div class="title_top_search">
                          <h3 class="home-title-css" style="margin: 0;">{{ "Home.TopSearch" | translate }}</h3>
                      </div>
                      <div class="all_smart_small">
                          <a href="/search-top-product-list">Xem tất cả <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <!-- end -->
                  <div class="list_box_smart_small">
                      <swiper [config]="configSlideTopSearchProduct">
                          <div class="swiper-wrapper top-search">
                              <ng-container *ngFor="let item of productSearchHome">
                                  <div class="swiper-slide" style="width: 16.6667%">
                                    <div class="box_smart_small">
                                        <div class="box_product-special">
                                          <div class="box_product-special-content" *ngIf="item.listCategoryStandard[0]?.order === 2">
                                            <!-- <span style="padding: 0.2rem;"><i class="fa-regular fa-star"></i></span> -->
                                            <span>Smart Mall</span>
                                          </div>
                                          <div class="box_product-special-content" *ngIf="item.listCategoryStandard[0]?.order === 7" style="background-color: #f1293c !important">
                                            <!-- <span style="padding: 0.2rem;"><i class="fa-regular fa-star"></i></span> -->
                                            <span>Truy xuất</span>
                                          </div>
                                        </div>
                                          <div class="img_box_product">
                                              <a (click)="navigateItem(item)">
                                                <img loading="lazy"  src="{{item.file != null? imageUrlBase + item.file.path : './assets/images/noimage.png'}}" alt="" />
                                              </a>
                                          </div>
                                          <div class="content_box_product">
                                              <div class="logo_content_smart_small" *ngIf="item.avatar_shop != null">
                                                <img loading="lazy"  src="{{ imageUrlBase + item.avatar_shop }}" alt="" />
                                              </div>
                                              <div class="wrapper_content_box_product product-smart-mall">
                                                  <div class="name_product">
                                                    <a (click)="navigateItem(item)" title="{{ item.name }}">{{ item.name }}</a>
                                                  </div>
                                              <div class="price_product">
                                                <ng-container
                                                  *ngIf="
                                                    item.from_price !== item.to_price;
                                                    else showFromPrice
                                                  "
                                                >
                                                  <span class="pp_price_new"
                                                    >{{ item.from_price | numberFormat }}đ - {{
                                                    item.to_price | numberFormat }} đ</span
                                                  >
                                                </ng-container>
                                                <ng-template #showFromPrice>
                                                  <span class="pp_price_new"
                                                    >{{ item.from_price | numberFormat }} đ</span
                                                  >
                                                </ng-template>
                                              </div>

                                              <div class="star_and_location">
                                                <div class="star_product">
                                                  <ngb-rating
                                                    [max]="5"
                                                    [rate]="item.ratio"
                                                    [readonly]="true"
                                                  ></ngb-rating>
                                                </div>
                                                <div
                                                  *ngIf="item.is_lock_order==true"
                                                  class="is_lock_order"
                                                >
                                                  NGỪNG KINH DOANH
                                                </div>

                                                <div
                                                  class="location_product"
                                                  *ngIf="item.listProvinceOfSales.length > 0"
                                                >
                                                  {{ item.listProvinceOfSales.province_name }}
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>

                                  <div class="swiper-button-next">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                  </div>
                                  <div class="swiper-button-prev">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                  </div>
                        </swiper>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>
</section>
