<div class="header_content_taikhoan">
  <h2>Đổi mật khẩu</h2>
  <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
</div>
<div class="content_my_profile">
  <div class="form_group">
    <form [formGroup]="form">
      <div class="row_form_my_profile">
        <label>Mật khẩu hiện tại</label>
        <input type="password" name="" class="form-control" formControlName="passwordOld">
        <!-- <span><a href="javascript:void(0)" (click)="forgotPassword()">Quên mật khẩu</a></span> -->
      </div>
      <div class="row_form_my_profile">
        <label>Mật khẩu mới</label>
        <input type="password" name="" class="form-control" formControlName="passwordNew">
      </div>
      <div class="row_form_my_profile">
        <label>Xác nhận mật khẩu</label>
        <input type="password" name="" class="form-control" formControlName="confirmpassword">
      </div>
      <span *ngIf="isConfirmpassword" class="w-100 help-block mt-1 text-danger">Mật khẩu nhập lại không khớp</span>
      <div class="btn_gui_form">
        <button (click)="save()">Xác nhận</button>
      </div>
    </form>
  </div>
</div>
