<section class="slider_top_page">
    <div class="container">
        <div class="slide_page">
            <swiper [config]="configCategorySlide">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img loading="lazy" src="./assets/images/imgs/Group 392.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img loading="lazy" src="./assets/images/imgs/Group 392.png" alt="">
                    </div>
                </div>
                <div class="swiper-button-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                <div class="swiper-button-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>

            </swiper>
        </div>
    </div>
</section>
