<form id="form_regis_shop" #RegisForm="ngForm" method="post" novalidate>
    <div id="step1" *ngIf="clickStep1">
        <h4 class="regis-h4">
            Đăng ký</h4>

        <div class="row row-regis">
            <div class="col-md-12 reg-input">
                <input #CustomerEmailOrPhone="ngModel" [(ngModel)]="EmailOrPhone" name="CustomerEmailOrPhone" id="CustomerEmailOrPhone" type="text" placeholder="Email hoặc số điện thoại" required pattern="^([0-9]{10}$)|([A-Za-z0-9._%\+\-]+@[a-z0-9.\-]+\.[a-z]{2,3})$"
                    class="form-control input-regis-shop" />

                <div *ngIf="CustomerEmailOrPhone.invalid && (CustomerEmailOrPhone.dirty || CustomerEmailOrPhone.touched)" class="text-error">

                    <div *ngIf="CustomerEmailOrPhone.errors?.['required']">
                        Email hoặc số điện thoại không được trống !
                    </div>
                    <div *ngIf="CustomerEmailOrPhone.errors?.['pattern']">
                        Phải nhập email hoặc số điện thoại
                    </div>
                </div>
                <div class="form-group regis-shop" *ngIf="messageError">
                    <div class="msg text-error">
                        Email hoặc số điện thoai đã tồn tại. Vui lòng nhập mail hoặc số điện thoại khác.
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-regis">
            <div class="col-md-12 reg-btn">
                <button (click)="nextStep2()" type="button" [disabled]="!RegisForm.form.valid" class="form-control btn btn-primary btn-smartgap">Tiếp theo</button>
                <p class="regis-by-phone-email">Đăng ký bằng số điện thoại hoặc email</p>
            </div>
        </div>

        <p class="allow-dksd row-regis">
            Bằng việc tiếp tục, bạn đã chấp nhận với Smartgap về<br />
            <a href="#"> điều khoản sử dụng & Chính sách bảo mật</a>
        </p>
    </div>
    <div id="step2" *ngIf="clickStep2">
        <div class="row row-regis">
            <div class="col-md-12">
                <div class="regis-i text-left"><i class="fa fa-angle-double-left"></i></div>
                <div class="form-group regis-shop">

                    <h5 class="title-regis-shop text-left">Nhập mã xác minh</h5>
                    <p>Nhập mã xác minh đã gửi về số điện thoại hoặc email đã đăng ký</p>
                </div>
            </div>

            <div class="col-md-12 reg-input">
                <div class="form-group regis-shop">
                    <div id="otp" class="inputs d-flex flex-row justify-content-center">
                        <ng-otp-input [config]="otpInputConfig" (onInputChange)="onInputChange($event)"></ng-otp-input>
                    </div>
                </div>
                
                <div class="form-group regis-shop">
                    <input type="checkbox" [(ngModel)]="confirmRules" (change)="fieldsChange($event)" class="form-check-input" name="confirmRules" id="confirmRules" checked>
                    <a href="/policy-security" target="_blank">  Bằng việc tiếp tục, bạn đã chấp nhận với Smartgap về điều khoản sử dụng & Chính sách bảo mật</a>

                </div>
                <div class="form-group regis-shop" *ngIf="messageError">
                    <div class="msg text-error">
                        Mã OTP chưa đúng !
                    </div>
                </div>
                <div class="form-group regis-shop reg-btn">
                    <button type="button" [disabled]="disableOtp||disableRules" id="btn_nextStep2" (click)="nextStep3()" class="btn btn-primary btn-smartgap form-control"> Xác minh </button>
                </div>
                <div class="form-group regis-shop">
                    <p><a href="javascript:" (click)="sendOtp()">Gửi lại mã</a></p>
                    <p> Mã xác minh sẽ hết hiêu lực trong vòng: <span id="count_down"></span></p>

                </div>
            </div>
        </div>
    </div>
    <!-- step 3 -->
    <div id="step3" *ngIf="clickStep3">
        <div class="col-md-12">
            <div class="form-group regis-shop login-customer">
                <h5 class="title-regis-shop">Thiết lập mật khẩu</h5>
                <p>Bước cuối! Thiết lập mật khẩu để hoàn tất đăng ký</p>
            </div>
        </div>

        <div class="col-md-12 reg-input">
            <div class="form-group regis-shop regis-pass">
                <input class="form-control input-regis-shop" autocomplete="on" required maxlength="16" minlength="8" type="password" #password="ngModel" #pass [(ngModel)]="inputPassword" name="password_field" id="password_field" placeholder="Mật khẩu" />
                <span (click)="showPass(pass)" [ngClass]="
                pass.type == 'password'
                    ? 'fa fa-eye fa-eye-slash field-icon'
                    : 'fa fa-fw fa-eye field-icon'
            "></span>
                <p class="text-left" style="padding-top: 10px;">8-16 ký tự</p>
                <!-- <p class="title-warning">Chỉ các chữ cái,số và ký tự phổ biến mới có thể được sử dụng.</p> -->
            </div>
        </div>

        <div class="form-group regis-shop reg-btn">
            <button type="button" [disabled]="!RegisForm.form.valid" id="btn_nextStep2" (click)="succesRegister()" class="btn btn-primary btn-smartgap form-control"> Đăng ký </button>
        </div>
    </div>
</form>