<div class="swapper-discount">
    <div class="row">
        <div class="col-md-12">
            Kính gửi quý khách hàng và đối tác Công ty Cổ Phần Đầu Tư & Phát Triển Chè Tam Đường là doanh nghiệp hoạt động trong lĩnh vực ươm giống, trồng, chế biến, phân phối và kinh doanh (xuất khẩu & nội địa) các loại chè sạch chất lượng cao. Thấu hiểu niềm tin
            là chuyện quan trọng cả đời người, ngay từ đầu Tam Đường lựa chọn phát triển thương hiệu định vị theo hướng chè sạch, sạch từ sản phẩm đến sạch trong tâm người sản xuất với mong ước về hương sắc chè ngon đạt tiêu chuẩn quốc tế mãi bay xa chạm
            đến những giá trị cốt lõi của cuộc sống. Trải qua nhiều năm trời vật lộn với sự sống còn mà vẫn vẹn nguyên tâm thế ấy, Tam Đường giờ đây đã trở thành một nhà sản xuất uy tín - đối tác tin cậy của nhiều thương hiệu lớn trên thế giới. Không
            dừng lại ở đó, chúng tôi luôn tâm niệm trao tận tay từng người tiêu dùng trên khắp Việt Nam mình thức chè ngon nhất, tốt nhất và cam kết không ngừng nỗ lực từng ngày để biến điều đó thành hiện thực.
        </div>
    </div>
</div>