<div class="main_page_product">
    <div class="container">
        <div class="slide_page banner-shop">
            <!-- <img loading="lazy" [src]="shopInfo?.file| imageUrl"> -->
            <img loading="lazy" style="object-fit: cover; width: 100%" src="{{currentImg != undefined? currentImg: '../assets/images/logos/no-banner-shop.jpg'}}" alt="" />
            <div class="shop-logo">
                <img loading="lazy" class="" [src]="shopInfo?.avatar | imageUrl" />
            </div>
        </div>
        <div class="shop-info" *ngIf="shopType == shopTypeConstant.TruyXuat">
            <div class="col-md-6 shop-left">
                <div style="display: flex; align-items: end;">
                    <p class="">
                        <span class="shop-name" style="font-size: 1rem;">{{ shopInfo?.name }}</span>
                    </p>
                    <p class="shop-actived" style="margin-left: 2rem;"><span>Đang hoạt động</span></p>
                </div>

                <p class="shop-i"><span class="title-weight">Mã truy xuất</span>: {{ shopInfo?.code || "--------" }}</p>
                <p class="shop-i">
                    <span class="title-weight">Địa chỉ</span>
                    <span *ngIf="shopInfo.shop_address.length > 0">
                        : {{ shopInfo.shop_address[0].address }}
            <span *ngIf="shopInfo.shop_address[0].wards_name != ''"
              >, {{ shopInfo.shop_address[0].wards_name }}</span
            >
            <span *ngIf="shopInfo.shop_address[0].district_name != ''">
              , {{ shopInfo.shop_address[0].district_name }}</span
            >
            <span *ngIf="shopInfo.shop_address[0].province_name != ''"
              >, {{ shopInfo.shop_address[0].province_name }}</span
            >
          </span>
                </p>
                <p class="shop-i"><span class="title-weight">Người đại diện</span>: {{ shopInfo?.surrogate }}</p>
                <p class="shop-i"><span class="title-weight">MST</span>: {{ shopInfo?.taxcode }}</p>
                <p class="shop-i"><span class="title-weight">Ngày thành lập</span>: {{ shopInfo?.founding_date | date: "dd-MM-yyyy" }}</p>

                <!-- <p class="shop-i">
                    Email: {{shopInfo?.email}}
                </p>
                <p class="shop-i">
                    Website: {{shopInfo?.website}}
                </p> -->
                <p class="shop-i">
                    <span class="title-weight">Ngành nghề kinh doanh chính</span>: {{ shopInfo?.business }}
                </p>
            </div>
            <div class="col-md-3 shop-right">
                <!-- <button class="btn btn-sm btn-smart" (click)="chatNow()">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    Chat ngay
                </button> -->
                <button class="btn btn-sm btn-smart-normal" (click)="followShop()" style="margin: 0;">
                    <i class="mr-1" [ngClass]="shopId && isFollowShop ? 'fal fa-check' : 'fal fa-plus'"></i>
                    Theo dõi
                </button>
                <p class="shop-i">
                    <span class="title-weight">Đánh giá</span>: {{ shopInfo?.ratio }}/5
                    <i class="fa fa-star star" aria-hidden="true"></i>
                </p>
                <p class="shop-i"><span class="title-weight">Số sản phẩm</span>: {{ shopInfo?.count_product }}</p>
                <p class="shop-i"><span class="title-weight">Lượt xem</span>: {{ shopInfo?.count_view }}</p>
                <p class="shop-i"><span class="title-weight">Theo dõi</span>: {{ shopInfo?.count_are_follow }} người</p>
                <p class="shop-i"><span class="title-weight">Đang theo dõi</span>: {{ shopInfo?.count_follow }} người</p>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-search-smart" type="button" (click)="childShopProduct.getListProduct()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
                    </div>
                    <input [(ngModel)]="keywordSearch" (keyup.enter)="childShopProduct.getListProduct()" type="text" class="form-control input-seach" placeholder="Tìm kiếm tên sản phẩm" aria-label="" aria-describedby="basic-addon1" />
                </div>
            </div>
        </div>

        <div class="shop-info" *ngIf="shopType == shopTypeConstant.Thuong">
            <div class="col-md-4 shop-left">
                <p class="">
                    <span class="shop-name" style="font-size: 1rem;">{{ shopInfo?.name }}</span>
                    <span class="shop-active"></span>
                </p>
                <p class="shop-actived" *ngIf="shopInfo?.is_active===true">Đang hoạt động</p>
                <p class="shop-actived" *ngIf="shopInfo?.is_active===false" style="color: red;">Dừng hoạt động</p>

            </div>
            <div class="col-md-2">
                <p class="shop-i" style="padding-top: 0;">
                    <span class="title-weight">Đánh giá</span>: {{ shopInfo?.ratio }}/5<i class="fa fa-star star" aria-hidden="true"></i>
                </p>
                <p class="shop-i"><span class="title-weight">Số sản phẩm</span>: {{ shopInfo?.count_product }}</p>
                <p class="shop-i"><span class="title-weight">Lượt xem</span>: {{ shopInfo?.count_view }}</p>
            </div>
            <div class="col-md-3">
                <p class="shop-i" style="padding-top: 0;">
                    <span class="title-weight">Địa chỉ</span>:
                    <span *ngIf="shopInfo.shop_address.length > 0">
                        {{shopInfo.shop_address[0].address}}<span *ngIf="shopInfo.shop_address[0].wards_name != ''">,{{shopInfo.shop_address[0].wards_name}}</span>
                        <span *ngIf="shopInfo.shop_address[0].district_name != ''">,{{shopInfo.shop_address[0].district_name}}</span>
                        <span *ngIf="shopInfo.shop_address[0].province_name != ''">,{{shopInfo.shop_address[0].province_name}}</span>
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <p class="shop-i" style="padding-top: 0;"><span class="title-weight">Theo dõi</span>: {{ shopInfo?.count_are_follow }} người</p>
                <p class="shop-i"><span class="title-weight">Đang theo dõi</span>: {{ shopInfo?.count_follow }} người</p>
                <div class="input-group mb-3 search-shop">
                    <div class="input-group-prepend">
                        <button class="btn btn-search-smart" type="button" (click)="childShopProduct.getListProduct()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
                    </div>
                    <input [(ngModel)]="keywordSearch" (keyup.enter)="childShopProduct.getListProduct()" type="text" class="form-control input-seach" placeholder="Tìm kiếm tên sản phẩm" aria-label="" aria-describedby="basic-addon1" />
                </div>
            </div>
        </div>
            <div class="tab-content tab-shop-content">
                    <!-- <app-shop-product [shopId]="shopId"></app-shop-product> -->
                    <div class="tab-shop">
                        <ul class="nav nav-tabs tab-des ul-nav">
                            <li>
                                <a class="active" data-toggle="tab" href="#sanpham">Sản phẩm</a>
                            </li>
                            <li><a data-toggle="tab" href="#gioithieu">Giới thiệu</a></li>
                            <li *ngIf="lengthShopParner>0">
                                <a data-toggle="tab" href="#donvilienket">Đơn vị liên kết</a>
                            </li>
                            <li *ngIf="lengthareAsales>0">
                                <a data-toggle="tab" href="#areasales">Nơi bán</a>
                            </li>
                            <!-- <li><a data-toggle="tab" href="#sodosanxuat">Sơ đồ sản xuất</a></li> -->
                            <!-- <li *ngIf="shopType==shopTypeConstant.TruyXuat"><a data-toggle="tab" href="#vattusanxuat">Vật tư sản xuất</a></li> -->
                            <li (click)="viewMap()">
                                <a data-toggle="tab" href="#bando">Bản đồ</a>
                            </li>
                            <!-- *ngIf="shopType==shopTypeConstant.TruyXuat" -->
                        </ul>

                        <div class="tab-content tab-shop-content">
                            <div id="sanpham" class="tab-pane active">
                                <app-shop-product [shopId]="shopId" [keywordSearch]="keywordSearch"></app-shop-product>
                            </div>
                            <div class="tab-pane" id="gioithieu">
                                <div class="swapper-discount">
                                    <div class="row">
                                        <div class="center file_introduce" *ngIf="shopInfo?.file_introduce !=null && shopInfo?.file_introduce!=''">
                                            <img loading="lazy" [src]="shopInfo?.file_introduce | imageUrl"  />
                                        </div>
                                        <div class="col-md-12" *ngIf="shopInfo?.url_introduce !=null && shopInfo?.url_introduce!=''">
                                            <iframe class="url_introduce" width="100%" height="400" [src]="safeURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                        <div class="col-md-12" [innerHTML]="shopInfo?.introduce | safeHtml"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="donvilienket" ng-if="lengthShopParner>0">
                                <app-shop-partner (shopPartner)="shopPartnersOutput($event)" [shopId]="shopId"></app-shop-partner>
                            </div>
                            <!-- <div class="tab-pane" id="donvilienket">
                    <app-shop-partner [shopId]="shopId"></app-shop-partner>
                </div> -->
                            <!-- <div class="tab-pane" id="sodosanxuat" *ngIf="shopType==shopTypeConstant.TruyXuat">
                    <app-production-diagram [shopId]="shopId"></app-production-diagram>
                </div> -->
                            <div class="tab-pane" id="areasales" ng-if="lengthareAsales>0">
                                <app-shop-area-sales (areasalesCountEvent)="areasalesoutput($event)" [shopId]="shopId"></app-shop-area-sales>
                            </div>
                            <!-- <div class="tab-pane" id="areasales">
                    <app-shop-area-sales [shopId]="shopId"></app-shop-area-sales>
                </div> -->
                            <div class="tab-pane" id="bando">
                                <app-shop-map [shopId]="shopId" [showMap]="showMap"></app-shop-map>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
