<footer>
  <section class="sec_top_footer">
    <div class="container">
      <div class="wrapper_top_footer">
        <div class="col_top_footer col_sp_kh">
          <h3>HỖ TRỢ KHÁCH HÀNG</h3>
          <h4 class="hotline_red_Ft">HOTLINE: 1900 077779</h4>
          <ul class="list_link_menu">
            <li><a href="#">Câu hỏi thường gặp</a></li>
            <li><a href="#">Gửi yêu cầu hỗ trợ</a></li>
            <li>
              <a href="/policy-security/huong-dan-dat-hang">Hướng dẫn đặt hàng</a>
            </li>
            <li>
              <a href="/policy-security/chinh-sach-van-chuyen">Phương thức vận chuyển</a>
            </li>
            <li>
              <a href="/policy-security/chinh-sach-doi-tra">Chính sách đổi trả</a>
            </li>
            <li>
              <a href="/policy-security/chinh-sach-hang-nhap-khau">Chính sách hàng nhập khẩu</a>
            </li>
          </ul>
        </div>
        <!-- end -->
        <div class="col_top_footer col_about_smartgap">
          <h3>VỀ SMARTGAP</h3>
          <ul class="list_link_menu">
            <li><a href="/policy-security/gioi-thieu">Giới thiệu</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li>
              <a href="/policy-security/bao-mat-thanh-toan">Chính sách bảo mật thanh toán</a>
            </li>
            <li>
              <a href="/policy-security/chinh-sach-bao-mat">Chính sách bảo mật thông tin
              </a>
            </li>
            <li>
              <a href="/policy-security/giai-quyet-khieu-nai">Chính sách giải quyết khiếu nại</a>
            </li>
            <li>
              <a href="/policy-security/dieu-khoan-dich-vu">Điều khoản sử dụng</a>
            </li>
            <li>
              <a href="/policy-security/ban-hang-doanh-nghiep">Bán hàng doanh nghiệp</a>
            </li>
          </ul>
        </div>
        <!-- end -->
        <div class="col_top_footer col_gh ship">
          <h3>DỊCH VỤ GIAO HÀNG</h3>
          <img src="./assets/images/img_footer/img_grab.jpg" alt="" class="grab" />
          <img src="./assets/images/img_footer/Logo GHTK.png" alt="" />
        </div>
        <!-- end -->
        <div class="col_top_footer col_tt_cn">
          <div class="col_thanhtoan">
            <h3>PHƯƠNG THỨC THANH TOÁN</h3>
            <img src="./assets/images/icon_2.png" alt="" />
          </div>
          <div class="col_chungnhan">
            <h3>CHỨNG NHẬN BỞI</h3>
            <a href="http://online.gov.vn/Home/WebDetails/75829?AspxAutoDetectCookieSupport=1">            <img src="./assets/images/img_footer/img_bo_cong_thuong.jpg"  alt="" />
            </a>
          </div>
        </div>
        <!-- end -->
        <div class="col_top_footer col_ht_down">
          <div class="col_mxh">
            <h3>HỖ TRỢ KHÁCH HÀNG</h3>
            <ul>
              <li>
                <a target="_blank" href="https://www.facebook.com/SmartGapVietnam61"><img
                    src="./assets/images/imgs/ELEMENTS.png" alt="" /></a>
              </li>
              <li>
                <a target="_blank" href="https://www.tiktok.com/@smartgap63"><img
                    src="./assets/images/logo_tiktok.png" alt="" /></a>
              </li>
              <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCN32bZMaLNi0IpBF_nQKuVw"><img
                    src="./assets/images/imgs/ELEMENTS (2).png" alt="" /></a>
              </li>
            </ul>
          </div>
          <div class="col_download">
            <h3>TẢI ỨNG DỤNG MOBILE</h3>

            <div class="gg_download" style="
                  width: 75%;
                  cursor: pointer;
                ">
              <a
              href="https://play.google.com/store/apps/details?id=vn.smartgap.smartgapsannongsan">

                <img src="./assets/images/img_footer/img_ggplay.jpg" alt="" />
              </a>
            </div>
            <div class="app_store" style="
            width: 75%;
                  cursor: pointer;
                ">
                <a
                href="https://apps.apple.com/app/smart-gap-s%C3%A0n-n%C3%B4ng-s%E1%BA%A3n/id1638913110">
                <img src="./assets/images/img_footer/logo appstore.png" alt="" /></a>
              </div>


            <!-- <a
              href="https://play.google.com/store/apps/details?id=vn.smartgap.smartgapsannongsan"
            >
              <div
                style="
                  width: 100px;
                  height: 150px;
                  background: url('./assets/images/img_footer/img_ggplay.jpg');
                  background-position: bottom;
                  cursor: pointer;
                "
              ></div>
            </a> -->
            <!-- <img src="./assets/images/imgs/Giao dien trang chu PC 2 (2).png" alt=""> -->
          </div>
        </div>
        <!-- end -->
      </div>
      <!-- end -->
      <div class="info_smartgap_ft">
        <h3>SMARTGAP.,JSC</h3>
        <div class="item_info_smartgap_ft">
          <img src="../../../../../assets/images/imgs/location.png" />
          <span>Trụ sở :Tòa C2-D'Capitale: Số 15 -Tầng 37, đường Trần Duy Hưng,
            phường Trung Hòa, quận Cầu Giấy, TP.Hà Nội</span>
        </div>
        <div class="item_info_smartgap_ft">
          <img src="./assets/images/imgs/Group 555.png" />
          <span>Hotline: 1900 077779</span>
        </div>
        <div class="item_info_smartgap_ft">
          <img src="./assets/images/imgs/ELEMENTS (4).png" />
          <span>Email: support@smartgap.vn</span>
        </div>
      </div>
    </div>
  </section>
  <!-- end -->
  <section class="sec_bottom_footer">
    <div class="container">
      <h2>Danh mục sản phẩm</h2>
      <div class="wrapper_bottom_footer">
        <div class="col_bottom_footer" *ngFor="let item of categoryProduct">
          <h3>
            <a (click)="navigateItem(item)"> {{ item.name | uppercase }}</a>
          </h3>
          <ul class="list_link_menu">
            <li *ngFor="let child of item.products; let i = index">
              <a *ngIf="i < 4" (click)="navigateItem(child)">
                {{ child.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</footer>
